/* CSS for styling the sidebar */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  .parent{
    display: flex;
  }

.container{
    width: 95%;
}
/* CSS for styling the sidebar */
.sidebar {
    width: 5%;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  /* CSS for styling the heading */
  .heading {
    margin-bottom: 20px;
    padding: 20px;
    color: green;
  }
  
  /* CSS for styling the icons */
  .icons {
    margin-bottom: 20px;
    padding: 20px;
  }
  
  .icons img {
    display: block;
    width: 30px; /* Adjust the size as needed */
    margin-bottom: 10px;
  }
  
  /* CSS for styling the vertical heading */
  .vertical-heading {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: green;
  }


  
  .NavBar{
    padding: 10px 20px;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    color: gray;
    width: 1900px;
    
  }
  .HeaderParent{
    display: flex;
    
  }
  .LeftSide{
    flex: 1;
  }
  h3{
    color: #51585c;
  }
  .RightSide{
    display: flex;
    align-items: center;
  }
  .NavBar input[type="text"] {
    
    width: 350px;
    border: none;
  }
  .SearchContainer{
    display: flex;
  }
  .SearchIcon{
    padding: 8px;
    border-radius: 20px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    
  }
  .Icon{
    display: flex;
    align-items: center;
    

    
  }
  
  .avatar {
    vertical-align: middle;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    padding-right: 1px;
  }
  .fa.fa-info-circle {
    color: black;
    font-size: 24px;
}
.fa.fa-bell {
  color: black;
  font-size: 20px;


}
.Buttons{
    justify-content: center;
    display: flex;
    text-align: center;
    color: gray;
   
  }
  .Buttons button {
    margin: 5px;
    background-color: white; 
    color: #333; 
    border-radius: 10px;
    padding: 10px 20px; 
    cursor: pointer;
    border: 0.5px solid  gray; 
  }
  .Buttons button:hover {
    background-color: greenyellow;
    color: green;
  }
  
  .img{
    vertical-align: middle;
      width: 20px;
      height: 20px;
      border-radius: 50%;
  }
  /* CSS for styling the profile card */
.profile-card {
    max-width: 300px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  /* CSS for styling the header */
  .header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  /* CSS for styling the icons */
  .icons img {
    width: 20px;
  }
  
  /* CSS for styling the profile picture */
  .profile-pic img {
    width: 150px;
    border-radius: 50%;
    margin-bottom: 20px;
    vertical-align: middle;
    
   
  }
  
  /* CSS for styling the heading */
  .heading {
    margin-bottom: 20px;
  }
  
  /* CSS for styling the table */
  .details {
   
    margin-bottom: 20px;
  }
  
  .details td {
    padding: 5px 0;
  }
  
  /* CSS for styling the button */
  .button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover {
    background-color: #45a049;
  }
  
  .button-div {
    display: flex;
  }
  
  /* CSS for styling the buttons */
 
 
 
  .RightSide2{
    width: 80%;
  }
  .Header2{
    display: flex;
    justify-content: space-between;
    padding: 20px;
      margin: 10px;
      
  }
  .Button2{
    margin: 5px;
    background-color: white; 
    color: #333; 
    border-radius: 10px;
    padding: 10px 20px; 
    cursor: pointer;
    border: 0.5px solid  blue;
    color: blue;
  }
  .Button2:hover {
    background-color: blue;
    color: white;
  }